@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap');
/* 1 - selector de etiqueta */
h1{
    text-decoration: underline;
    color: #0FC6B5;
    font-size: 1.8em;
}
h2{
    font-size: 24px;
    text-align: center;
    color: #0FC6B5;
}
p{
    color: white;
}
footer{
    background-color: black;
}
    footer img{
        width: 80px;
    }
    footer svg{
        color: #0FC6B5;
        width: 20px;
    }
    footer ul{
        list-style: none;
        width: 25%;
    }
    footer a{
        color: white;
        text-decoration: underline;
        line-height: 2.2em;
    }
header div h1{
    font-size: 3em;
    color: #0FC6B5;
    text-decoration: none;
}
form{
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
}
form select{
    background-color: #212529;
    color: #0FC6B5;
    width: 300px;
    height: 50px;
    font-size: 1.3em;
}
/* 2 - selector de clase */
.products{
    width: 60%;   
}
    .products div h2{
        font-size: 1.2em;
    }
        .products div p{
            font-size: 1.2em;
        }
.menu{
    background-color: black;
    padding: 8px 30px;
}
    .menu svg{
        width: 30px;
        fill: gray;
    }
    .menu .navbar-toggler{
        border: solid gray 2px;
    }
    .menu a img{
        width: 100px;
    }
        .menu ul li{
            margin-right: 20px;
        }
            .menu ul li a{
                text-decoration: none;
                color: #0FC6B5;
                font-size: 20px;
            }
                .menu ul li a:hover{
                    color: white;
                }
.bg{
    background-color: #212529;
    color: white;
    border: solid #0FC6B5 3px;
}
    .bg:hover{
        background-color: #0FC6B5;
    }
    .text-white{
        color: white;
    }
.card{
    background-color: #212529;
}
    .card h2{
        color: #0FC6B5;
        font-size: 1.2em;
    }
.bg-black{
    background-color: black;
}
.store{
    display: grid;
    grid-template-columns: 35% 50%;
    grid-template-rows: repeat(6,190px);
    grid-template-areas: 
    "filters prod1"
    "filters prod2"
    "filters prod3"
    "filters prod4"
    "filters prod5"
    "filters prod6";
}
.store .filters{
    grid-area: filters;
}
.store .prod1{
    grid-area: prod1;
    display: flex;
    background-color: #212529;
    padding: 10px;
    border-radius: 5px;
}
.store .prod2{
    grid-area: prod2;
    display: flex;
    background-color: #212529;
    padding: 10px;
    border-radius: 5px;
}
.store .prod3{
    grid-area: prod3;
    display: flex;
    background-color: #212529;
    padding: 10px;
    border-radius: 5px;
}
.store .prod4{
    grid-area: prod4;
    display: flex;
    background-color: #212529;
    padding: 10px;
    border-radius: 5px;
}
.store .prod5{
    grid-area: prod5;
    display: flex;
    background-color: #212529;
    padding: 10px;
    border-radius: 5px;
}
.store .prod6{
    grid-area: prod6;
    display: flex;
    background-color: #212529;
    padding: 10px;
    border-radius: 5px;
}
.products{
    background-image: url(../img/headers/header1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    width: 100%;
    padding: 180px;
}
.nosotros{
    background-image: url(../img/headers/nosotros.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    width: 100%;
    padding: 180px;
}
.servicios{
    background-image: url(../img/headers/servicios\ .jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    width: 100%;
    padding: 180px;
}
.contacto{
    background-image: url(../img/headers/contacto.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    width: 100%;
    padding: 180px;
}
/* selector universal */
*{
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}
/* responsive */
@media (width < 992px){
    ul.text-center{
        width: 100%;
    }
}