// title
.title-index{
    h1{
        @include padding(80px,0px);
        font-size: $xl;
        text-align: center;
        color: $mainColor;
    }
}
// card-index
.card-index{
    @include padding(15px,80px)
}
// products
.prod-index{
    @include flex(row,wrap,center,center);
    p{
        width: 100%;
    }
}

