// extends
.header-base{
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    width: 100%;
}
// mixins
@mixin flex($dire,$wrap,$justi,$align){
    display: flex;
    flex-direction: $dire;
    flex-wrap: $wrap;
    justify-content: $justi;
    align-items: $align;
}
@mixin padding($top,$bottom){
    padding-top: $top;
    padding-bottom: $bottom;
}