// filtros
form{
    @include flex(row,nowrap,flex-end,center,);
    select{
        background-color: $secondaryColor;
        color: $mainColor;
        width: 250px;
        height: 50px;
        font-size: $lg;
    }
}
// tienda
.store{
   @include flex(row,wrap,center,flex-start);
   .products{
    @include flex(row,wrap,center,stretch);
   }
   figure{
    width: 45%;
    img{
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    p{
        font-size: $md;
    }
   }
}
// card-padd
.card-padd{
    @include padding(80px,80px)
}